* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	background: #f5f6f7;
	color: #1b1b32;
	font-family: Helvetica;
	margin: 0;
}

header {
    height: 51px;
    width: 100%;
    background-color: #f6f8f9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
}

h1 {
    color:#fa6980;
    font-size: 13;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}

nav > ul > li {
    color: #343638;
    margin: 0 0.2rem;
    padding: 0.2rem;
    padding-top: 20px;
    display: block;
    font-size: 11px;
}

#profile-pic {
    object-fit: cover;
}

.bold {
    font-weight: bolder;
}

.news {
    display: flex;
    flex-direction: row;
    height: 600px;
    position: relative;
    top: 50px;
}

#flex-box-1 {
    background-image: url("./news\ section/image.png");
    object-fit: cover;
    background-repeat: no-repeat;
    width: 55%;
    height: 100%;
}

#flex-box-2 {
    background-color: white;
    width: 45%;
    height: 100%;
    padding: 10%;
}

#places {
    padding:  20%;
    color: white;
}

h2 {
    font-size: 24;
    font-weight: bold;
}

hr {
    height: 3px;
    background-color: white;
    border: none;
}

button {
    background-color: #fa6980;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 12.5px;
}

#news-header > *{
    display: inline;
}

#flex-box-2 > hr {
    background-color: #ebeded;
    width: 120%;
}

.pink {
    color: #fa6980;
}

article > p, article > span, .fa-clock {
    color: #a6adb4;
} 

#news-header {
    display: flex;
    height: 70px;  
    flex-direction: row;
    justify-content: flex-end;
}
  
#box-1 {
    width: 50%;
    height: 100%;
}
  
#box-2 {
    width: 50%;
    height: 100%;
}
  
#box-2 > p {
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
    color: gray;
    font-weight: bold;
}
  

a:hover {
    color: black;
}


/* FOOTER */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: #a6adb4;
    display: flex;
    height: 200px;
}

footer div {
    margin-left: 5%;
    padding: 50px 0;
}

.col-4 {
    margin-right: 10%;
}
  
footer ul {
    list-style: none;
}
  
footer li {
    margin-bottom: 4px;
    color: #cbd0d3;
    font-size: 13px;
}

footer h3 {
    color: white;
    font-size: 13px;
}

footer p {
    color: #cbd0d3;
    font-size: 11px;
}
  
footer input {
    width: 100%;
    border: none;
}

i {
    color: white;
    margin-left: 4px;
}


/* GRID CONTAINER OF SECTION HAPPENING NOW */
.parent {
    padding-top: 40px;
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    width: 100%;
}

#happening-now {
    margin-left: 175px;
    padding: 10% 0;
}
  
.div1 { 
    grid-area: 1 / 1 / 4 / 4; 
    background-image: url("./happening\ now/image.png");
    height: 430px;
    color: white;
}
  
.div1 h2, .div2 h2{
    padding-top: 40%;
}


.div1 i, .div2 i {
    padding-top: 5%;
}

.large-article {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}

.div2 { 
    grid-area: 4 / 1 / 7 / 4; 
    background-image: url("./happening\ now/image\ (1).png");
    color: white;
}
  
.div3 { 
    grid-area: 1 / 4 / 3 / 7; 
    
}
  
.div4 { 
    grid-area: 3 / 4 / 5 / 7; 
}
  
.div5 { 
    grid-area: 5 / 4 / 7 / 7; 
}

.div3 img, .div4 img, .div5 img, img {
    max-width: 100%;
}

.section-flex {
    display: flex;
    flex-direction: column;
    height: auto;
}


/* SECTION TRENDING */

#trending {
    /* position: absolute;
    top: 650px; */
    padding-top: 90px;
}
#trending > h2 {
    padding-left: 175px;
}

/* #this {
    background-color: #1394d4;
} */


.container-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.box1, .box2, .box3 {
    margin: 10px;
}

.trending-boxes {
    background-color: white;
    width: 360px;
    padding: 30px;
}

.container-img h2 {
    margin-bottom: 10px;
}

.container-img p, .container-img span {
    margin-bottom: 10px;
    color: #a6adb4;
}