* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	background: #f5f6f7;
	color: #1b1b32;
	font-family: Helvetica;
	margin: 0;
    width: 100%;
}

/* NAVBAR */
header {
    height: 50px;
    width: 100%;
    background-color: #f6f8f9;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;
}

.void {
    width: 70%;
}

h1 {
    color:#fa6980 ;
    font-size: 13;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}

nav > ul > li {
    color: #343638;
    margin: 0 0.2rem;
    padding: 0.2rem;
    padding-top: 20px;
    display: block;
    font-size: 11px;
}

#profile-pic {
    object-fit: cover;
}

.bold {
    font-weight: bolder;
}

/* .news {
    display: flex;
    flex-direction: row;
    height: 600px;
    position: relative;
    top: 50px;
}

.container {
    margin-top: 5%;
}

#flex-box-1 {
    background-image: url("./news\ section/image.png");
    object-fit: cover;
    background-repeat: no-repeat;
    width: 55%;
    height: 100%;
}

#flex-box-2 {
    background-color: white;
    width: 45%;
    height: 100%;
    padding: 10%;
}

#places {
    padding:  20%;
    color: white;
} */

h2 {
    font-size: 24;
    font-weight: bold;
}

hr {
    height: 3px;
    background-color: white;
    border: none;
}

button {
    background-color: #fa6980;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 12.5px;
}

/* #news-header > *{
    display: inline;
}

#flex-box-2 > hr {
    background-color: #ebeded;
    width: 120%;
}

.pink {
    color: #fa6980;
}

article > p, article > span, .fa-clock {
    color: #a6adb4;
}  */

/* #news-header {
    display: flex;
    height: 70px;  
    flex-direction: row;
    justify-content: flex-end;
}
   */
/* #box-1 {
    width: 50%;
    height: 100%;
}
  
#box-2 {
    width: 50%;
    height: 100%;
}
  
#box-2 > p {
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
    color: gray;
    font-weight: bold;
} */
  
/* NEWS SECTION */
.news {
    display: flex;
    height: 600px;
    width: 100%;
    flex-direction: row;
}
  
#flex-box-1 {
    width: 50%;
    height: 100%;
    background-image: url("./news\ section/image.png");
    color: white;
}
  
#flex-box-2 {
    width: 50%;
    height: 100%;
    padding: 60px;
}

#places {
    margin: 170px 140px;
}

#places hr {
    width: 75%;
}

h2 {
    font-size: 24px;
    text-align: left;
}

p {
    font-size: 16px;
    color: #a6adb4;
}

#box-1 > * {
    display: inline;
}

#box-1 {
    padding-bottom: 20px;
    margin: 0 auto !important;
    margin-left: 90px !important;
}

.card {
    padding-top: 20px !important;
    width: 80%;
    margin: 0 auto !important;
    margin-left: 70px !important;
    border: none !important;
}

i {
    color: #cbd0d3 !important;
    display: inline;
}

.news span {
    color: #cbd0d3;
    display: inline;
}

.pink {
    color: #fa6980;
}


a:hover {
    color: black;
}

.btn > i {
    color: black;
    font-weight: bolder;
    border: none;
}


/* GRID CONTAINER OF SECTION HAPPENING NOW */
.parent {
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    width: 100%;
}

#happening-now {
    margin-left: 175px;
    padding: 10% 0;
}
  
.div1 { 
    grid-area: 1 / 1 / 4 / 4; 
    background-image: url("./happening\ now/image.png");
    height: 430px;
    color: white;
    background-repeat: no-repeat;
    height: 100%;
}
  
.div1 h2, .div2 h2{
    padding-top: 30%;
}


.div1 i, .div2 i {
    padding-top: 5%;
}

.large-article {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}

.div2 { 
    grid-area: 4 / 1 / 7 / 4; 
    background-image: url("./happening\ now/image\ (1).png");
    color: white;
    background-repeat: no-repeat;
    height: 100%;
}
  
.div3 { 
    grid-area: 1 / 4 / 3 / 7; 
    
}
  
.div4 { 
    grid-area: 3 / 4 / 5 / 7; 
}
  
.div5 { 
    grid-area: 5 / 4 / 7 / 7; 
}

.div3 img, .div4 img, .div5 img, img {
    max-width: 100%;
}

.section-flex {
    display: flex;
    flex-direction: column;
    height: auto;
}


/* FOOTER */
footer {
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    background: #a6adb4;
    display: flex !important;
    height: 200px !important;
}

footer div {
    margin-left: 5% !important;
    padding: 50px 0 !important;
}

.colon-4 {
    margin-right: 10% !important;
}
  
footer ul {
    list-style: none !important;
}
  
footer li {
    margin-bottom: 4px !important;
    color: #cbd0d3 !important;
    font-size: 13px !important;
}

footer h3 {
    color: white !important;
    font-size: 13px !important;
}

footer p {
    color: #cbd0d3 !important;
    font-size: 11px !important;
}
  
footer input {
    width: 100% !important;
    border: none !important;
}

.clock-and-time {
    display: inline;
}

/* Tablet */
@media only screen and (max-width: 770px) and (min-width: 500) {
    .news {
        flex-direction: column;
        height: 745px;
    }

    #flex-box-1 {
        width: 100%;
        height: 100%;
        background-image: url("./news\ section/image.png");
        background-repeat: no-repeat;
        color: white;
    }
      
    #flex-box-2 {
        width: 100%;
        height: auto;
        /* margin-bottom: 300px !important; */
        z-index: 2;
        margin-bottom: 300px;
        /* margin-top: -150px !important; */
        /* background-color: darkgoldenrod !important; */
    }
    .container {
        padding-top: 450px;
        display: flex;
        flex-direction: row;
        /* width: 100% !important; */
        /* margin-top: 300px !important; */
    }
    .hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }
    .trending-card {
        /* width: 50% !important; */
    }
}

/* Mobile */
@media only screen and (max-width: 500px) {
    .news {
        flex-direction: column;
        height: 745px;
    }
    #flex-box-1 {
        width: 100%;
        height: 100%;
        background-image: url("./news\ section/image.png");
        background-repeat: no-repeat;
        color: white;
    }
      
    #flex-box-2 {
        width: 100%;
        height: auto;
        /* margin-bottom: 300px !important; */
        z-index: 2;
        margin-bottom: 300px;
        margin-top: -150px !important;
    }

    .container {
        /* background-color: deeppink !important; */
        padding-top: 450px;
        /* margin-top: 300px !important; */
    }

    .hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    #happening-now {
        margin: 0 20px;
    }
    footer {
        display: none !important;
    }
    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        }
        
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 2 / 1 / 3 / 6; }
    .div3 { 
        margin: 0 auto;
        grid-area: 3 / 1 / 4 / 6; 
    }
    .div4 { 
        margin: 0 auto;
        grid-area: 4 / 1 / 5 / 6; 
    }
    .div5 { 
        margin: 0 auto;
        grid-area: 5 / 1 / 6 / 6; 
    }
}



