* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	background: #f5f6f7;
	color: #1b1b32;
	font-family: Helvetica;
	margin: 0;
    padding-top: 50px;
}
main {
    margin-bottom: 140px;
}

#logo {
    color:#fa6980;
}

/* NAVBAR */
header {
    height: 51px;
    width: 100%;
    background-color: #f6f8f9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
}

h1 {
    color:#fa6980;
    font-size: 13;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}

nav > ul > li {
    color: #343638;
    margin: 0 0.2rem;
    padding: 0.2rem;
    padding-top: 20px;
    display: block;
    font-size: 11px;
}

#profile-pic {
    object-fit: cover;
}

.bold {
    font-weight: bolder;
}

/* WORLD NEWS SECTION FLEXBOX */
.world-news {
    display: flex;
    height: 501px;
    width: 80%;
    margin: 0 auto; 
}

.flex1 {
    width: 50%;
    background-image: url(./world\ news/Image.png);
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    text-align: center;
}

.flex1 h2 {
    margin-top: 20%;
    margin-bottom: 2%;
    size: 32px;
}

.flex1 hr {
    width: 20%;
    margin: 0 auto;
    background-color: #fa6980;
    height: 2px;
    border: none;
}

.flex1 p {
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 0 15%;
}

.flex2 {
    width: 50%;
    height: 100%;
    background-color: white;
}

.hidden {
    display: none;
}

/* STYLES FOR FORM */
form input, form label, form button {
    width: 80%;
    height: 40px;
    display: block;
    margin: auto auto;
}

form label {
    margin-top: 15%;
}
form input {
    color: #ebeded;
    border-color: #ebeded;
    border-radius: 10.5px;
    border-width: 2px;
}

button {
    background-color: #fa6980;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 12.5px;
    width: 135px !important;
}

/* PARAGRAPH SECTION FLEXBOX */
.paragraph{
    display: flex;
    height: 256px;
    width: 80%;
    margin: 70px auto;
    justify-content: space-between;
    flex-direction: row;
}

.paragraph1 {
    width: 33%;
}

.paragraph2 {
    width: 33%;
    color: #a6adb4;
}

.paragraph3 {
    width: 33%;
    color: #a6adb4;
}


.paragraph {
    height: 250px;
    flex-direction: row;
}

.paragraph-flex {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.paragraph2 {
    width: 50%;
    margin-right: 20px;
}
.paragraph3 {
    width: 50%;
}


hr {
    width: 80%;
    margin: 20px auto;
    background-color: #ebeded;
    height: 4px;
    border: none;
}

/* MAIN ARTICLE FLEXBOX */
.main-article {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    height: 830px;
}

.image {
    height: 50%;
    width: 100%;
}

.image img {
    max-width: 100%;
}
.article {
    height: 50%;
    width: 70%;
    color: #a6adb4;
    margin-top: 95px;
}

.article p {
    margin-bottom: 4%;
    line-height: 1.75;
}

/* FOOTER */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: #a6adb4;
    display: flex;
    height: 200px;
}

footer div {
    margin-left: 5%;
    padding: 50px 0;
}

.col-4 {
    margin-right: 10%;
}
  
footer ul {
    list-style: none;
}
  
footer li {
    margin-bottom: 4px;
    color: #cbd0d3;
    font-size: 13px;
}

footer h3 {
    color: white;
    font-size: 13px;
}

footer p {
    color: #cbd0d3;
    font-size: 11px;
}
  
footer input {
    width: 100%;
    border: none;
}

i {
    color: #cbd0d3;
    margin-left: 4px;
}

a {
    color: #343638;
    text-decoration: none;
}

/* TABLET */
@media only screen and (max-width: 770px) {
    .world-news {
        display: flex;
        height: 800px !important;
        flex-direction: column;
    }
    
    .flex1 {
        width: 100%;
        background-image: url(./world\ news/image.png);
        background-repeat: no-repeat;
        height: 50% !important;
        color: white;
        text-align: center;
    }
    .flex2 {
        width: 100% ;
        height: 50% !important;
        background-color: white;
    }

    .paragraph {
        height: auto;
        flex-direction: column;
    }

    .paragraph-flex {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .paragraph2 {
        width: 50%;
        margin-right: 20px;
    }
    .paragraph3 {
        width: 50%;
    }
    .article {
        margin-top: -160px;
    }
    .hidden {
        display: inline;
        color: black;
    }
    #that-specific-hr {
        margin-top: 180px;
        margin-bottom: -100px;
    }
    footer {
        height: 317px;
        display: flex;
        flex-direction: row;
    }
    /* .first-box {
        width: 50%;
        background-color: #fa6980;
        display: flex;
        flex-direction: column;
    }
    .col-1 {
        height: 50%;
        background-color: yellowgreen;
    }
    .col-5 {
        height: 50%;
        background-color: burlywood;
    }
    .sec-box {
        width: 50%;
        background-color: yellow;
    } */
}

/* Mobile */
@media only screen and (max-width: 500px) {
    .paragraph-flex {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .paragraph1 {
        width: 100%;
    }
    
    .paragraph2 {
        width: 100%;
        color: #a6adb4;
    }
    
    .paragraph3 {
        width: 100%;
        margin-top: 5%;
        color: #a6adb4;
    }
    .article {
        width: 100%;
    }

    .last-par {
        margin-top: 35px;
    }

    footer {
        display: none;
    }
  
}

