* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	background: #f5f6f7;
	color: #1b1b32;
	font-family: Helvetica;
	margin: 0;
}

header {
    height: 51px;
    width: 100%;
    background-color: #f6f8f9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
}

h1 {
    color:#fa6980;
    font-size: 13;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}

nav > ul > li {
    color: #343638;
    margin: 0 0.2rem;
    padding: 0.2rem;
    padding-top: 20px;
    display: block;
    font-size: 11px;
}

main {
    margin-top: 80px;
}

.users {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.user {
    width: 30%;
    height: auto;
    border: 1px solid #fa6980;
    padding: 3%;
}

/* FOOTER */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: #a6adb4;
    display: flex;
    height: 200px;
    /* position: fixed; */
}

footer div {
    margin-left: 5%;
    padding: 50px 0;
}

.col-4 {
    margin-right: 10%;
}
  
footer ul {
    list-style: none;
}
  
footer li {
    margin-bottom: 4px;
    color: #cbd0d3;
    font-size: 13px;
}

footer h3 {
    color: white;
    font-size: 13px;
}

footer p {
    color: #cbd0d3;
    font-size: 11px;
}
  
footer input {
    width: 100%;
    border: none;
}

i {
    color: white;
    margin-left: 4px;
}
